::-webkit-input-placeholder {
    text-align: center;
 }

 html {
     height: 100%;
 }

 body {
     width: 100%;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     z-index: -2;
     background: #000;
 }

 /*#entire-container {
    position:absolute;
    z-index: -1;
    display: none;
    top:0;
    left:0;
    width: 100%;
    height:300%;
    /**scalable background to fill available viewport*
    background: url('../images/gardens.jpg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }*/

 #gifs-here {
     z-index: -1;
 }



 #buttons-column {
     margin-bottom: 15px;
 }

 #input-column {
     margin-bottom: 20px;
 }


 .gif {
     height: 200px;
     width: 200px;
     margin-bottom: 10px;
     margin-left: 15px;
 }
